<mat-form-field class="suggestion-input">
  <input
    type="text"
    matInput
    [matAutocomplete]="auto"
    [(ngModel)]="value"
    #autoCompleteInput
    placeholder="Type something..."
    (keyup)="onKeyup()"
    (focus)="onFocus()">

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let item of filteredItems"
      [value]="item.name"
      (click)="writeValue(item.name)">
      <ng-template [ngTemplateOutlet]="templateVariable"
        [ngTemplateOutletContext]="{item: item}"></ng-template>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>