<mat-form-field class="suggestion-input">
  <input
    type="text"
    matInput
    [matAutocomplete]="auto"
    [(ngModel)]="value"
    #autoCompleteInput
    placeholder="Type something..." 
    (blur)="onBlur()">

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let item of filteredItems | async"
      [value]="item.name"
      (click)="writeValue(item.name)">
      <ng-container *ngIf="apiType === 'itunes'">
        <img class="example-option-img" aria-hidden [src]="item.image" height="25">
        <span>{{item.name}}</span>
      </ng-container>
      <ng-container *ngIf="apiType === 'brewery'">
        <span>{{item.name}}</span>
      </ng-container>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>